.env
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/
airflow_venv/

data/raw/*
!data/raw/.gitkeep

data/clean/*
!data/clean/.gitkeep

*.log
logs/
.DS_Store
Thumbs.db
.vscode/
.idea/
.ipynb_checkpoints/
airflow.db
simple_auth_manager_passwords.json.generated
standalone_admin_password.txt
